*.sw[nop]
*.o
src/lex.c
src/tinin
src/parse.h
src/parse.c
src/libtinin.a
.deps
autom4te.cache
depcomp
install-sh
missing
stamp-h1
ylwrap
compile
config.h.in
Makefile
Makefile.in
aclocal.m4
autoscan.log
configure
configure.scan
config.log
config.status
config.h
*~
tests/check_tinin
tinin-*.tar.*z*
