*.sw[nop]
src/lex.c
src/lex.o
src/tinin
src/main.o
src/parse.h
src/parse.o
src/parse.c
.deps
autom4te.cache
depcomp
install-sh
missing
stamp-h1
ylwrap
compile
config.h.in
Makefile
Makefile.in
aclocal.m4
autoscan.log
configure
configure.scan
config.log
config.status
config.h
*~
